  
mixin slider(...images)
  .cell-12.slider
    .slider-box
      each img in images
        .slide
          //- .slide-content
          //- p=img
          img(src=img)
    .slider-nav
      each img in images
        .indicator
    .slider-controls
      .control.prev 
        <svg viewBox="0 0 24 24">
            <path fill="#000000" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
        </svg>
      .control.next
        <svg viewBox="0 0 24 24">
            <path fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>