<!DOCTYPE html>
include ../sections/include.pug
<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Just-In-Time
    link(rel="stylesheet", href="css/main.min.css")
       
        
  body
    header#js-header

    main
      block content

    footer
    script(src="js/main.min.js")
