// <reference path="../global.scss" />
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

body, html {
  height: auto;
  min-height: 100%;
}
:root {
  font-size: 100%;
}
