// <reference path="../global.scss" />
a {
  color: color(blue);
  text-decoration: none;

  outline: 0;

  cursor: pointer;
  & > span.mdi {
    transition: all .2s;
  }
  &:hover, &:focus {
    color: lighten(color(blue), 10);
  }
  &:hover > span.mdi, &:focus > span.mdi {
    transform: scale(1.1);

    transition: all .2s;
  }
}