 * {
   box-sizing: border-box;
 }
 
 mat-card {
    width: 100%;
    max-width: 20rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    padding: 3rem 1rem;
    width: 100%;
    max-width: 50rem;
    @media screen and (min-width: 30rem) {
      justify-content: flex-start;
    }
  }


  .fullwidth{
    width: 100%;
  }

  .background {
    position: fixed;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
  }
  .catchphrase {
    display: none;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 4.25rem;

    padding: 3rem 0 4rem;
    @media screen and (min-width: 30rem) {
      display: block;
    }
  }

  .logo {
    @media screen and (min-width: 30rem) {
      position: fixed;
      padding: 3rem;
    }
    position: relative;
    padding: 1rem;
    right: 0;
    bottom: 0;
    img {
      height: 7.5rem;
    }
  }