// <reference path="../global.scss" />
.launch {
  position: relative;

  min-width: 100vw;
  min-height: 100vh;

  .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    background-image: url('../images/full/img_f_lighthouse.jpg');
    background-position: left center;
    background-size: cover;

    @include grid-media-query_('phone') {
      background: $c_background;
    }
  }


  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 30;

    display: flex;
    width: 30rem;
    max-width: 100%;
    min-height: 100%;

    background: $c_background;
    box-shadow: 0 0 1rem $c_shadow;
  }

  .content {
    width: 30rem;
    max-width: 100%;
    padding: 25% 2.5rem 0;
  }

  .logo {
    margin: 0 0 4rem;
    svg path {
      fill: $c_primary;
    }
  }

  .login-text {
    margin-bottom: 2rem;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      line-height: 2;
    }
  }

  .input-group:nth-of-type(2) {
    margin-bottom: 2rem;
  }
}


.popup-password {
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: 500;

  width: 30rem;
  padding: 1rem;

  background: $c_background;
  box-shadow: 0 0 1rem $c_shadow;
  border-radius: .25rem;
  transform: translate(-50%,-50%);

  transition: all .5s ease-in-out;

  &.open {
    top: 50%;
    left: 50%;
  }

  p {
    margin: 1rem 0;
  }

  .actions {
    flex-direction: row-reverse;
    justify-content: flex-start;

    display: flex;
    margin: 0 -.5rem;
  }
}
